* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
     background-image: url('./images/pexels-brett-sayles-992734.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
    }

.box {
    background-color: #E4AEC5;
    padding-left: 60px;
    padding: 60px;
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #794C74;
   font-family: sans-serif;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #243D25;
    outline: none;
    font-size: 22px;
    text-align: center;
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     background-color: #794C74;
     color: #E4AEC5;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
 }
 #btnGen:hover {
     color: #794C74;
     background-color: #E4AEC5;
 }